* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: azure;
}
.container {
  width: 60%;
  height: 50%;
  margin: 5px;
  background-color: azure;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.w-50 {
  width: 50%;
}
.h-50 {
  height: 100%;
}
.box-p {
  margin: 5px;
  background-color: greenyellow;
}
#d {
  margin: 5px;
}
.red {
  background-color: tomato;
  height: 20px;
  width: 20px;
}
.green {
  margin-top: 5px;
  background-color: greenyellow;
  height: 20px;
  width: 20px;
}
@media screen and (min-height: 500px) {
  .container {
    width: 100%;
    height: 25%;
  }
}
@media screen and (min-width: 800px) {
  .container {
    width: 100%;
    height: 40%;
  }
}
